<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre - Registro</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="main-header">
      <div class="header-first">
        <div class="logo">
          <a href="/"
          ><img
            src="/images/logo-mercado-liebre.svg"
            alt="Logo de Mercado Liebre"
          />
        </a>
        </div>
        <div>
          <form class="search-form" action="#" method="get">
            <input class="search" type="text" name="search" id="search">
            <button type="submit" name="button-search" class="button-search"><i class="fas fa-search"></i></button>
          </form>
        </div>

        <p class="quotas-message">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>

      <nav class="nav-bar">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
          <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li>
            <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
      <form class="register-form" action="/views/home.html" method="post">
        <section class="register-name">
          <label for="name">Ingrese su nombre y apellido</label>
          <input
            type="text"
            placeholder="Nombre y Apellido"
            name="name"
            id="name"
            minlength=3
            required
          />
        </section>

        <section class="register-user">
          <label for="user">Ingrese su Usuario</label>
          <input type="text" placeholder="Usuario" name="user" id="user" minlength=5 maxlength=20 required/>
        </section>

        <section class="register-birthday">
          <label for="birthday">Ingresa tu fecha de nacimiento</label>
          <input
            type="date"
            placeholder="Fecha de nacimiento"
            name="birthday"
            id="birthday"
            required
          />
        </section>

        <section class="register-address">
          <label for="address">Ingrese su domicilio</label>
          <input
            type="text"
            placeholder="Domicilio"
            name="address"
            id="address"
            minlength=10 maxlength=30
            required
          />
        </section>

        <section class="register-profile">
          <label for="name">¿Deseas comprar o vender?</label>
          <div class="options">
            <div>
              <input type="radio" name="profile" value="comprar" checked>Comprar</input>
            </div>
            <div>
              <input type="radio" name="profile" value="vender">Vender</input>
            </div>
          </div>

        </section>

        <section class="register-category">
          <label for="name">¿Que categoría te interesa?</label>
          <div class="options">
            <div>
              <input type="checkbox" name="category" value="Electro">Electro</input>
            </div>
            <div>
              <input type="checkbox" name="category" value="Moda">Moda</input>
            </div>
            <div>
              <input type="checkbox" name="category" value="Hogar">Hogar</input>
            </div>
            <div>
              <input type="checkbox" name="category" value="Jugueteria">Jugueteria</input>
            </div>
            <div>
              <input type="checkbox" name="category" value="Vida sana">Vida sana</input>
            </div>
        </div>
        </section>

        <section class="register-photo">
          <label for="name">Selecciona un avatar para tu perfil</label>
          <input class="file" type="file" name="photoFile" accept=".jpg"></input>
        </section>

        <section class="register-password">
          <label for="password">Ingrese su Contraseña</label>
          <input type="password" placeholder="Contraseña" name="password" id="password" minlength=8 maxlength=20 required/>
        </section>

        <section class="register-confirm-password">
          <label for="confirm-password">Confirme su Contraseña</label>
          <input type="assword" placeholder="Confirmar contraseña" name="confirm-password" id="confirm-password" minlength=8 maxlength=20 required/>
        </section>

        <div class="buttons">
          <button type="submit" name="send-button">Enviar</button>
          <button type="reset" name="reset-button">Borrar</button>
        </div>
        


      </form>
    </main>
    <footer>
      <section class="main-footer">
        <section>
          <i class="fas fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <i class="fas fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <i class="fas fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
        <section class="copyright">
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
      </section>
    </footer>
  </body>
</html>
